.dropbtn {
	background-color: #FFA500;
	color: white;
	padding: 10px;
	font-size: 14px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #F1F1F1;
	min-width: 100px;
}

.dropdown-content a {
	color: black;
	padding: 10px;
	font-size: 14px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #A8723C;}