.App {
  font-family: sans-serif;
  text-align: center;
}

.photo {
  height: 300px;
  width: 500px;
}

img.resize {
  max-width: 50%;
  max-height: 50%;
}

div.CharInfo {
  padding-left: 2%;
}

div.CharInfoLoad {
  padding-left: 2%;
}

div.GameInfo {
  padding-left: 2%;
}

div.CampaignInfo {
  padding-left: 2%;
}